body {
    background: #0071a1;
}
header {
    text-align: center;
    font: normal 18pt Bungee;
    color: white;
    margin-bottom: 0px;
}
section {
    text-align: center;
    background: white;
    border-radius: 100px;
    width: 400px;
    height: 450px;
    margin: auto;
    padding: 30px;
}
div {
    margin: 8px;
    font: normal 15pt Bungee;
}

input#inputnúmero {
    border-radius: 100px;
    width: 80px;
    padding: 5px;
}
input#multiplicar {
    border-radius: 100px;
    width: 120px;
    font: normal 10pt Bungee;
}
footer {
    text-align: center;
    font: normal 10pt Bungee;
    color: white
}
div#resultado {
    margin: auto;
    overflow-y:scroll;
    height: 150px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    font: normal 13pt Arial Black;
}